body {
  margin: 0px;
  width: 100%;
}

main {
  background-image: url('./2k_stars.jpeg');/**/
  background-size: cover;
  background-repeat: no-repeat;
  height: 200vh;
}

.earth-container {
  position: relative;
  width: 100%;
  height: 130vh;
  overflow: hidden;
}

.earth {
  position: absolute;
  top: -100px;
  right: -500px;
}
