body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

main {
  background-image: url('./2k_stars.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.earth-container {
  position: relative;
  /*overflow: hidden;*/
  height: 100%;
  width: 100%;
}
