@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

nav {
  z-index: 100;
  position: absolute;
  color: white;
  background: rgba(76, 175, 80, 0);
  font-size: 1.5em;
  width: 60%;
  margin: 10px 20%;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  text-align: center;
}

#main-name {
  font-size: 2em;
  font-weight: bold;
  padding: 0px -5px;
}

.space-navbar {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 800px) {
    nav {
      width: 80%;
      margin: 10px 10%;
    }
}
