.project-post-container {
  display: flex;
  width: 80%;
  margin: 20vh auto;
  gap: 50px;
}

.project-post {
  margin: auto;
  text-align: center;
}

.project-post-image {
  display: flex;
  height: 90%;
  overflow: hidden;
}

.project-post-image-source {
  text-align: center;
}

.project-post-container h1 {
  font-size: 3em;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .project-post-container {
    flex-direction: column;
    text-align: center;
  }
}
